/* global style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* common style */
.btn-primary {
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: #005FAC;
    color: white;
    cursor: pointer;
}

/* header style */
header {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
}

.header-container {
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

.header-container > h1 {
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 15px;
}

.header-container > p {
    text-align: right;
    margin-bottom: 15px;
    font-weight: 100;
}

.header-container > button {
    border-radius: 2px;
}

.failure {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul > li {
    list-style: none;
    font-weight: 100;
}

ul > li > i {
    color: green;
}

/* my failure section */
.failure {
    max-width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.failure-info {
    padding: 50px;
}

.failure-info h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.failure-info p {
    color: grey;
    margin-bottom: 8px;
}

/*my plan section*/
.my-plan {
    width: 80%;
    margin: auto;
}

.my-plan h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

.my-plan-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

/* call now section */
.call-now {
    text-align: left;
    width: 80%;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 8px;
}

.call-now-container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 50px;
}

.call-now-container h2 {
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 12px;
}

/*footer section */
footer {
    background-color: #151414;
}
